* {
  padding: 0x;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #799bce;
}
main {
  background-color: #ffffff;
  height: 60vh;
  width: 60%;
  margin: 10vh auto;
  border-radius: 10px;
  padding: 2.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 0.9rem;
}

h1,
h2,
h3 {
  color: #84a5d4;
}
img {
  width: 80px;
}
p {
  font-family: "Times New Roman", Times Roman, Time New Roman;
  color: rgba(0, 0, 0, 0.3);
}
.box:hover {
  background-color: #cac9ca;
}

.price span {
  color: #84a5d4;
  font-size: 1.7rem;
  font-weight: bold;
}
sub {
  color: #84a5d4;
  display: block;
  margin-bottom: 2rem;
}
sup {
  color: #84a5d4;
  display: block;
}
